.hero {
    height: 90vh;
    font-size: 60px;
}
 
.learn {
    font-size: 30px;
}
 
@media all and (max-width: 992px) {
    .hero {
        height: 80vh;
        font-size: 60px;
    } 
    .learn {
        font-size: 30px;
    }
     
}


@media all and (max-width: 768px) {
    .hero {
        height: 60vh;
        font-size: 30px;
    } 
    .learn {
        font-size: 20px;
    }
    
}