.hero_Banner {
    @media (min-width: 1600px) 
      margin: 0 110px;
    
    margin-top: 30px !important;
    border-radius: 10px;
    overflow: hidden;
}


.banner_single {
    padding: 123px 30px 128px 30px;
    border-radius: 10px;
    background-size: cover;
    background-position: center center !important;
    border-radius: 10px;

    @media screen (max-width: 600px) {
        padding: 60px 30px 60px 30px;
        background-position: left center !important;
        
    }
    
}

    .banner__text{
        max-width:576px;}
        span {
          font-size: 14px;
          font-weight: 700;
          color:white;
          display: block;
          text-transform: uppercase;
        }
        h3 {
          font-size: 50px;
          font-weight: 800;
          color: white;
          line-height: 1.2;
          margin: 20px 0 23px 0;
            font-size: 35px;
        }
          
        h5{
          font-size:16px;
          color:white;
          font-weight:500;
          margin-bottom:40px;
        }
        
        
      